{% load static %}
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/node-waves/node-waves.js' %}"></script>

    <script src="{% static 'assets/vendor/libs/hammer/hammer.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/i18n/i18n.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/typeahead-js/typeahead.js' %}"></script>
    <script src="{% static 'assets/vendor/js/menu.js' %}"></script>
    <script src="{% static 'assets/js/public.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/typeahead.js@0.11.1/dist/typeahead.bundle.min.js"></script>

    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/swiper/swiper.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/datatables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/datatables-responsive/datatables.responsive.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/datatables-checkboxes-jquery/datatables.checkboxes.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/bootstrap-select/bootstrap-select.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/datatables-select-bs5/select.bootstrap5.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/select2/select2.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/moment/moment.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/flatpickr/flatpickr.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/bootstrap-daterangepicker/bootstrap-daterangepicker.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/jquery-timepicker/jquery-timepicker.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/pickr/pickr.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/bloodhound/bloodhound.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/block-ui/block-ui.js' %}"></script>
    <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.4/dist/js/tabulator.min.js"></script>
    <script src="{% static 'assets/vendor/libs/formvalidation/dist/js/FormValidation.min.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/formvalidation/dist/js/plugins/Bootstrap5.min.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/formvalidation/dist/js/plugins/AutoFocus.min.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/publicjs/public.js' %}"></script>
    <script src="{% static 'qr.py' %}"></script>


    <!-- Page JS -->
    <script src="{% static 'assets/vendor/libs/cleavejs/cleave.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/cleavejs/cleave-phone.js' %}"></script>
    <script src="{% static 'assets/js/forms-selects.js' %}"></script>
    <script src="{% static 'assets/js/forms-typeahead.js' %}"></script>
    <script src="{% static 'assets/js/extended-ui-perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/js/extended-ui-block-ui.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/moment/moment.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/flatpickr/flatpickr.js' %}"></script>
    <script src="{% static 'assets/js/forms-extras.js' %}"></script>
    <script src="{% static 'assets/js/extended-ui-perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/js/forms-selects.js' %}"></script>
